#panel {
  @padding: 12px;
  @boxShadow: inset 3px 3px 12px 3px rgb(39, 34, 34);
  @borderRadius: 6px;
  @duration: 0.5s;
  @background: rgb(78, 168, 241);
  display: none;
  padding: 12px;
  transition: transform @duration ease;
  flex-wrap: wrap;

  &.show {
    transform: translateY(0);
  }

  &.hide {
    transform: translateY(-2000px);
  }

  &>div {
    margin: 16px 0;
  }

  img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .wrap {
    background-color: @background;
    padding: @padding;
    cursor: pointer;
    border-radius: @borderRadius;
    box-shadow: @boxShadow;

    &:hover {
      box-shadow: 3px 3px 12px 3px rgb(29, 27, 27);
    }

    img {
      width: 100%;
    }
  }

  .resume {
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrap {
      width: 108px;
    }
  }

  .logout {
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrap {
      width: 106px;
    }
  }
}