@keyframes floating {
  0% {
    transform: perspective(400px) translateZ(0px);
  }

  12% {
    transform: perspective(400px) translateZ(-5px);
  }

  25% {
    transform: perspective(400px) translateZ(-1px);
  }

  37% {
    transform: perspective(400px) translateZ(-5px);
  }

  50% {
    transform: perspective(400px) translateZ(-2px);
  }

  62% {
    transform: perspective(400px) translateZ(-5px);
  }

  75% {
    transform: perspective(400px) translateZ(6px);
  }

  87% {
    transform: perspective(400px) translateZ(-5px);
  }

  100% {
    transform: perspective(400px) translateZ(0px);
  }
}

#panel {
  @duration: 0.5s;
  display: none;
  padding: 66px;
  transition: opacity @duration ease, transform @duration ease;

  &.show {
    opacity: 1;
    transform: perspective(400px) translateZ(0px);
  }

  &.hide {
    opacity: 0;
    transform: perspective(400px) translateZ(-1000px);
  }

  .resume {
    flex-grow: 1;
    img {
      cursor: pointer;
      animation: floating 5s ease-out infinite;
      border-radius: 6px;
      border: 2px solid rgb(29, 54, 99);
      box-shadow: 2px 3px 6px 1px #08283a;
      display: block;
      width: 150px;

      &:hover {
        animation: none;
      }

      &:active {
        animation: none;
        box-shadow: none;
        transform: perspective(400px) translateZ(-6px);
        transition: box-shadow 0.1s ease, transform 0.1s ease;
      }
    }
  }
}
