// Server
//MODE=production
MODE=development
//CERT=bewhat1wannabe.tech_bundle.crt
//KEY=bewhat1wannabe.tech.key
CERT=local.cert
KEY=local.key
WEB_PORT=18080
MAJIANG_PORT=39888
PINGPONG_PORT=39666
WEB_BASE_FOLDER=apps
RESOURCES_BASE_FOLDER=resources
API_BASE_URL=api

// Database
HOSTNAME=localhost
USER=root
PASSWORD=
DATABASE=atat
LIMIT=10
