.atat-article {
  position: relative;
  font-size: 10px;

  background-color: rgba(245, 245, 245, 0.6);
  padding: 1.6em;
  display: flex;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    cursor: pointer;
    transition: color 0.2s ease, background-color 0.2s ease;
    background-color: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
  }

  .thumbnail {
    max-width: 16em;
    min-width: 16em;
    height: 20em;
    margin-right: 1.8em;
    background-size: cover;
  }

  .content {
    h2 {
      font-size: inherit;
      vertical-align: top;
      height: 3em;
      font-weight: 500;
      margin-bottom: 1em;

      span {
        font-size: 2.2em;
      }
    }

    p {
      font-size: inherit;
      max-height: 16em;
      overflow: hidden;
      margin: 0;
      line-height: 3em;

      &:hover {
        overflow-y: auto;
      }

      span {
        font-size: 1.6em;
      }
    }
  }

  @media only screen and (max-width: 700px) {
    font-size: 7px;
    margin-bottom: 6px;
  }
}
