.atat-article {
  position: relative;
  font-size: 10px;

  background-color: rgba(245, 245, 245, 0.6);
  padding: 1.6em;
  display: flex;
  margin-bottom: 1.6em;

  .thumbnail {
    max-width: 20em;
    min-width: 20em;
    height: 23em;
    margin-right: 1.8em;
    background-size: cover;
  }

  .content {
    h2 {
      font-size: inherit;
      vertical-align: top;
      height: 3em;
      font-weight: 500;
      margin-bottom: 1em;

      span {
        font-size: 2.5em;
      }
    }

    p {
      font-size: inherit;
      max-height: 19em;
      overflow-y: auto;
      margin: 0;
      line-height: 3em;

      span {
        font-size: 2em;
      }
    }
  }

  @media only screen and (max-width: 700px) {
    font-size: 5px;
  }
}
