@keyframes scrollOpen {
  0% {
    transform: rotateX(-180deg);
  }

  25% {
    transform: rotateX(58deg);
  }

  50% {
    transform: rotateX(-14deg);
  }

  75% {
    transform: rotateX(6deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

@keyframes scrollClose {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(-180deg);
  }
}

#scroll {
  display: block;
  font-size: 10px;
  width: 20em;
  height: 11em;
  opacity: 1;
  position: fixed;
  top: 0;
  right: 6em;
  perspective: 80em;
  perspective-origin: right top;
  z-index: 99;
  transition: opacity 0.7s ease, top 0.7s ease, box-shadow 0.7s ease;

  &.show {
    top: 1.8em;
    opacity: 1;
  }

  &.hide {
    top: -7.2em;
    opacity: 0;
  }

  #list {
    position: relative;
    float: right;
    top: 3.2em;
    right: 0;
    transform-origin: 50% 0 0;
    transform-style: preserve-3d;
    transition: all 0.2s ease;
  }

  #list div,
  #list .strip {
    position: absolute;
    cursor: pointer;
  }

  #list div>span {
    font-size: 1.4em;
  }

  #list div {
    line-height: 4em;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    top: 4.4em;
    width: 20em;
    height: 4em;
    transition: background 0.4s ease, box-shadow 1s ease;
    transform-origin: top;
    transform: rotateX(-180deg);
    transform-style: preserve-3d;
    box-shadow: inset 0 0 0 2em rgba(130, 130, 130, 1);
  }

  #list>div {
    top: 5em;
  }

  #list .strip {
    width: 0.3em;
    height: 5em;
    background: #cdf;
    z-index: 1;
    top: -5em;
  }

  #list .strip:nth-of-type(1) {
    left: 1.8em;
  }

  #list .strip:nth-of-type(2) {
    left: 17.8em;
  }

  #list h3 {
    font-size: inherit;
    padding: 0;
    margin: 0;
    line-height: 5em;
    text-align: center;
    background: url("/@resources/static/materials/banner.jpg");
    background-position: 0 5.6em;
    background-size: cover;
    width: 20em;
    height: 5em;
    position: relative;
    z-index: 99;
    cursor: default;
    box-shadow: 0 0.1em 0.3em #888;
  }

  #list h3>span {
    font-size: 1.6em;
  }

  #list a {
    color: #888;
  }

  #list a:hover {
    text-decoration: underline;
  }

  #list .show {
    animation: 1.6s scrollOpen;
    transform-origin: top;
    transform: rotateX(0deg);
    box-shadow: inset 0 0 0 2em rgba(130, 130, 130, 0);
  }

  #list .hide {
    display: block;
    animation: 0.3s scrollClose;
    transform-origin: top;
    transform: rotateX(-180deg);
  }
}