@mainColor: #1b6fa8;
@width: 1000px;
@duration: 0.6s;

@keyframes wave {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

#resume {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity @duration ease;

  .dot {
    @w: 6px;
    width: @w;
    height: @w;
    border-radius: 100%;
    background-color: #000;
    -webkit-print-color-adjust: exact;
  }

  .panel {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 600px;
    overflow: hidden;
    left: calc(50% - 300px);
    top: 100px;
    background-color: #fff;
    box-shadow: 2px 3px 6px 1px #08283a;
    padding: 18px;
    transform: scale(0, 0);
    transition: transform 0.2s ease;

    &.show {
      transform: scale(1, 1);
    }

    .editor {
      display: flex;
      max-height: 500px;
      overflow-y: auto;
      flex-wrap: wrap;

      .editor_ch {
        flex-grow: 1;
        flex-shrink: 1;
      }

      .editor_en {
        flex-grow: 1;
        flex-shrink: 1;
      }

      .line {
        margin-bottom: 16px;
        white-space: nowrap;
        min-height: 25px;
        line-height: 25px;

        h3 {
          vertical-align: top;
          font-size: 18px;
          font-weight: bold;
          text-align: center;
          margin: 0 0 16px;
        }

        .title {
          vertical-align: top;
          display: inline-block;
          width: 92px;
          text-align: right;
          margin-right: 6px;
        }

        input,
        textarea {
          vertical-align: top;
        }
      }
    }

    .button {
      display: flex;
      justify-content: flex-end;
      border-top: 1px solid #666;
      padding-top: 3px;

      .ok {
        color: #000;
        cursor: pointer;
      }

      .cancel {
        color: #fa8484;
        margin-right: 16px;
        cursor: pointer;
      }
    }
  }

  .wrap {
    background-color: #fff;
    flex-grow: 1;
    font-family: 'Times New Roman', Times, serif, '宋体';
    overflow: hidden;
    box-sizing: content-box;
    position: relative;
    top: 0;
    transition: transform @duration ease;
    width: @width;

    .loading-bar {
      height: 300px;
      width: 300px;
      display: flex;
      position: absolute;
      top: calc(50% - 180px);
      left: calc(50% - 150px);
      max-width: 500px;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      .wave {
        width: 8px;
        height: 66px;
        background: linear-gradient(45deg, rgb(40, 76, 109), rgb(135, 151, 156));
        margin: 10px;
        animation: wave 1s linear infinite;
        border-radius: 20px;
      }

      .wave:nth-child(2) {
        animation-delay: 0.1s;
      }

      .wave:nth-child(3) {
        animation-delay: 0.2s;
      }

      .wave:nth-child(4) {
        animation-delay: 0.3s;
      }

      .wave:nth-child(5) {
        animation-delay: 0.4s;
      }

      .wave:nth-child(6) {
        animation-delay: 0.5s;
      }

      .wave:nth-child(7) {
        animation-delay: 0.6s;
      }

      .wave:nth-child(8) {
        animation-delay: 0.7s;
      }

      .wave:nth-child(9) {
        animation-delay: 0.8s;
      }

      .wave:nth-child(10) {
        animation-delay: 0.9s;
      }
    }

    .content.blue {
      position: relative;
      display: flex;
      width: 100%;
      flex-direction: row;
      background-color: #fff;
      top: 0;
      transition: top 0.2s ease;

      .main {
        padding: 30px 60px 30px 100px;
        flex-grow: 5;
        flex-shrink: 2;

        &.en {
          h2 {
            margin-top: 18px;
          }

          ul {
            margin-bottom: 12px;
          }
        }

        h2,
        h3 {
          color: @mainColor;
          white-space: nowrap;
        }

        h2 {
          margin: 30px 0 8px;
          font-size: 25px;
          position: relative;
          line-height: 25px;

          .icon {
            position: absolute;
            left: -36px;
            top: 0;
          }

          &.experience {
            margin-top: 0;
          }

          .options {
            @h: 25px;
            margin-left: 18px;
            opacity: 0;
            height: @h;
            line-height: @h;
            display: inline-block;
            vertical-align: top;

            img {
              height: @h;
              display: inline-block;
              cursor: pointer;
              color: #1b6fa8;
              vertical-align: top;
              margin-right: 12px;
            }
          }

          &:hover {
            .options {
              opacity: 1;
              transition: opacity 0.2s ease;
            }
          }
        }

        h3 {
          white-space: normal;
          font-size: 20px;
          margin: 0;

          .options {
            @h: 20px;
            margin-left: 18px;
            height: @h;
            opacity: 0;
            line-height: @h;
            display: inline-block;
            vertical-align: top;

            img {
              height: @h;
              display: inline-block;
              cursor: pointer;
              color: #1b6fa8;
              vertical-align: top;
              margin-right: 8px;
            }
          }

          &:hover {
            .options {
              opacity: 1;
              transition: opacity 0.2s ease;
            }
          }
        }

        p {
          margin: 6px 0;
          font-size: 16px;

          img {
            @w: 17px;
            width: @w;
            height: @w;
            margin-right: 6px;
          }

          img,
          span {
            vertical-align: middle;
          }

          &.last {
            margin-bottom: 10px;
          }
        }

        ul {
          margin: 0 0 16px;
          padding: 0 0 0 27px;

          li {
            display: block;
            margin: 6px 0;
            padding: 0;
            position: relative;
            text-align: justify;

            .dot {
              position: absolute;
              top: 6px;
              left: -16px;
            }
          }
        }
      }

      .side-bar {
        color: #fff;
        padding: 30px;
        flex-grow: 2;
        flex-shrink: 5;
        background-color: @mainColor;
        -webkit-print-color-adjust: exact;

        .photo {
          width: 120px;
          height: 189px;
          display: block;
          margin: 0 auto;
        }

        h2 {
          @offset: 36px;
          font-weight: normal;
          font-size: 28px;
          margin: 40px 0 18px;
          margin-left: @offset;
          position: relative;

          &.name {
            text-align: center;
            margin-left: 0;
            margin-bottom: 0;
          }

          .icon {
            position: absolute;
            left: -@offset;
            top: 0;
          }

          &.skills {
            .icon {
              width: 22px;
              top: 5px;
            }
          }

          .options {
            @h: 18px;
            opacity: 0;
            margin-left: 18px;
            height: @h;
            line-height: @h;
            display: block;
            position: absolute;
            top: 6px;
            right: 0;

            img {
              height: @h;
              display: inline-block;
              cursor: pointer;
              color: #1b6fa8;
              vertical-align: top;
              margin-right: 12px;
            }
          }

          &:hover {
            .options {
              opacity: 1;
              transition: opacity 0.2s ease;
            }
          }
        }

        h3 {
          text-align: center;
          font-weight: normal;
          margin: 0 0 12px;
          font-size: 20px;

          &.profession {
            margin-bottom: 0;
          }
        }

        p {
          text-indent: 20px;
          margin: 8px 0;
          font-size: 16px;

          &.skills {
            font-size: 14px;
            text-indent: 0;
            text-align: justify;
          }

          &.about-0 {
            text-indent: 0;
          }

          &.about {
            text-align: justify;
          }

          &.info {
            position: relative;
            text-indent: 0;
            font-size: 18px;
            line-height: 18px;
            margin: 18px 0;
            margin-left: 38px;
            word-break: break-all;

            &.email {
              word-break: normal;
            }

            img {
              position: absolute;
              width: 17px;
              height: 18px;
              top: 0;
              left: -31px;
            }
          }

          &.personality {
            text-indent: 0;
            margin-top: 36px;
          }

          &.web {
            text-align: center;
            margin: 0;
            text-indent: 0;
          }

          .dot {
            display: inline-block;
            background-color: #fff;
            margin: 0 6px;
            vertical-align: middle;
          }
        }

        .interests {
          position: relative;

          div {
            text-indent: 22px;
            margin: 6px 0;
            text-align: justify;

            .dot {
              background-color: white;
              display: inline-block;
              margin-right: 10px;
            }
          }
        }
      }
    }

    .content.plain {
      box-sizing: border-box;
      position: relative;
      width: 100%;
      background-color: #fff;
      top: 0;
      transition: top 0.2s ease;

      &>.container {
        padding: 18px;
      }

      .options {
        @h: 18px;
        opacity: 0;
        margin-left: 18px;
        height: @h;
        line-height: @h;
        display: block;
        position: absolute;
        top: 6px;
        right: 0;

        img {
          height: @h;
          display: inline-block;
          cursor: pointer;
          color: #1b6fa8;
          vertical-align: top;
          margin-right: 12px;
        }
      }

      h1, h2, h3 {
        position: relative;
        margin: 16px 0 6px;

        &:hover {
          .options {
            opacity: 1;
            transition: opacity 0.2s ease;
          }
        }
      }

      h1 {
        margin-top: 0;
      }

      h2 {
        padding-top: 6px;
        border-top: 1px solid #eaeaea;
      }

      h3 {
        margin: 12px 0 6px;

        &.index-0 {
          margin-top: 0;
        }

        .extra {
          font-weight: normal;
          font-size: 16px;
        }
      }

      .en {
        padding: 15px;

        h1, h2, h3 {
          margin-top: 15px;
        }

        h1 {
          margin-top: 0;
          font-size: 22px;
        }

        h2 {
          font-size: 18px;
        }

        h3 {
          margin: 12px 0 6px;
          font-size: 17px;
  
          &.index-0 {
            margin-top: 0;
          }
        }
      }

      .highlight {
        font-weight: bold;
      }

      p {
        margin: 0 0 6px;
        
        &.profession, &.web, &.info {
          display: inline;
        }
      }

      ul {
        list-style: none;

        li {
          margin-bottom: 6px;
          font-size: 15px;
        }
      }

      .interests {
        margin-top: 6px;
      }
    }

    .scroll-bar {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      width: 8px;
      height: 160px;
      margin: 0 2px;
      border-radius: 3px;
      background-color: #000;
      transition: top 0.2s ease, opacity 0.2s ease;
    }

    &:hover {
      .scroll-bar {
        opacity: 0.5;
      }
    }
  }

  footer {
    top: 0;
    left: 0;
    position: relative;
    width: @width;
    display: flex;
    justify-content: space-between;
    background-color: #273245;
    transition: left @duration ease;

    .lButton {
      display: flex;

      .language,
      .theme {
        color: #fff;
        cursor: pointer;
        padding: 8px;
        margin-right: 8px;
      }
    }

    .button {
      display: flex;

      .revert {
        cursor: pointer;
        color: #fff;
        padding: 8px;
        margin-right: 8px;
      }

      .save {
        cursor: pointer;
        padding: 8px;
        color: #fff;
        margin-right: 8px;
      }

      .close {
        cursor: pointer;
        padding: 8px;
        color: #fa8484;
      }
    }
  }

  @media only screen and (max-width: 1000px) {
    .wrap {
      width: 100%;
    }

    footer {
      width: 100%;
    }
  }

  @media only screen and (max-width: 700px) {
    overflow: auto;

    .panel {
      left: 0;
      width: 100%;
      box-sizing: border-box;
    }

    .wrap {
      overflow: visible;

      .scroll-bar {
        display: none;
      }

      .content {
        flex-direction: column-reverse !important;

        .main {
          padding: 36px 12px 36px 50px !important;
        }

        .side-bar {
          padding: 36px 12px !important;
        }
      }
    }
  }

  &.hide {
    opacity: 0;

    .wrap {
      transform: perspective(400px) rotateY(80deg) translateZ(800px) translateX(2000px);
    }

    footer {
      left: -800px;
    }
  }

  &.show {
    opacity: 1;
  }

  &.print {
    .wrap {
      overflow: visible;

      .scroll-bar {
        display: none;
      }
    }

    footer {
      display: none;
    }
  }
}