.atat-message {
  @posY: 100px;

  z-index: 1001;
  position: fixed;
  padding: 8px;
  font-size: 16px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  line-height: 16px;
  cursor: default;
  transition: top 0.5s ease;

  img {
    border-radius: 2px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    display: inline-block;
    height: 16px;
    margin-right: 8px;
  }

  &.success img {
    background-color: rgb(3, 241, 63);
  }

  &.error img {
    background-color: rgb(235, 98, 98);
  }

  &.info img {
    background-color: rgb(84, 125, 238);
  }

  &.alert img {
    background-color: rgb(250, 250, 62);
  }

  &.show {
    top: 12px;
  }

  &.hide {
    top: -100px;
  }
}
