@width: 300px;
@height: 180px;

@keyframes shine {
  0% {
    background-position: -400px;
  }

  50% {
    background-position: -400px;
  }

  100% {
    background-position: 400px;
  }
}

@keyframes wave {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

#login {
  display: none;
  z-index: 1000;
  width: @width;
  height: @height;
  position: fixed;
  border-radius: 8px;
  text-align: center;
  box-shadow: 2px 3px 6px 1px #08283a;
  background: url('@resources/static/admin/password.jpg');
  background-size: cover;
  cursor: pointer;
  @duration: 0.2s;
  transition: opacity @duration ease, transform @duration ease, box-shadow @duration ease;

  left: calc(50% - @width / 2);
  top: calc(43% - @height / 2);

  &.active {
    box-shadow: none;
    transition: box-shadow 0.02s ease;
  }

  &.hide {
    box-shadow: none;
    transform: scale(0, 0);
  }

  .loading-bar {
    position: relative;
    display: none;
    width: 170px;
    top: -6px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    .wave {
      width: 5px;
      height: 22px;
      background: linear-gradient(45deg, rgb(40, 76, 109), rgb(135, 151, 156));
      margin: 6px;
      animation: wave 1s linear infinite;
      border-radius: 20px;
    }

    .wave:nth-child(2) {
      animation-delay: 0.1s;
    }

    .wave:nth-child(3) {
      animation-delay: 0.2s;
    }

    .wave:nth-child(4) {
      animation-delay: 0.3s;
    }

    .wave:nth-child(5) {
      animation-delay: 0.4s;
    }

    .wave:nth-child(6) {
      animation-delay: 0.5s;
    }

    .wave:nth-child(7) {
      animation-delay: 0.6s;
    }

    .wave:nth-child(8) {
      animation-delay: 0.7s;
    }

    .wave:nth-child(9) {
      animation-delay: 0.8s;
    }

    .wave:nth-child(10) {
      animation-delay: 0.9s;
    }
  }

  &.loading {
    cursor: not-allowed;

    #password {
      display: none;
    }

    .loading-bar {
      display: flex;
    }
  }

  h2 {
    font-size: 39px;
    margin: 47px 0 6px;
    padding: 0;
    color: #fff;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: rgba(255, 255, 255, 0.6);
    background: linear-gradient(-30deg, rgba(255, 255, 255, 0) 50px, rgba(255, 255, 255, 1) 90px, rgba(255, 255, 255, 1) 140px, rgba(255, 255, 255, 0) 180px) -400px 0px no-repeat;
    background: -webkit-linear-gradient(-30deg, rgba(255, 255, 255, 0) 50px, rgba(255, 255, 255, 1) 90px, rgba(255, 255, 255, 1) 140px, rgba(255, 255, 255, 0) 180px) -400px 0px no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    animation: shine 6s infinite ease;

    span {
      cursor: default;
    }
  }

  #password {
    width: 160px;
  }
}