html {
    font-size: 16px;
}

body {
    background: #ddd;
}

.table {
    position: relative;
    box-sizing: border-box;
    width: 600px;
    height: 700px;
    border: 3px solid #000;
    margin: 0 auto;
    background: #fff;
}

.ball {
    position: absolute;
    background: Orange;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.blade {
    position: absolute;
    width: 100px;
    height: 12px;
    background-color: #f60;
    border-radius: 3px;
}

.player {
    left: calc(50% - 50px);
    bottom: 3px;
}

.rival {
    right: calc(50% - 50px);
    top: 3px;
}

.net {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    height: 0;
    width: 100%;
    border-bottom: 4px solid #000;
}

.ready {
    position: absolute;
    text-align: center;
    width: 80px;
    height: 80px;
    left: calc(50% - 42px);
    top: calc(50% - 40px);
    border-radius: 50%;
    border: 4px solid red;
    font-weight: bold;
    font-size: 18px;
    background-color: white;
    transition: all 0.5s;
    z-index: 2;
}

.ready:hover {
    cursor: pointer;
    background-color: red;
    color: white;
}

#name {
    font-size: 17px;
    text-align: center;
    display: block;
    width: 200px;
    height: 30px;
    margin: 18px auto 0;
    border-radius: 6px;
    border: 2px solid #666;
}

.errorMessage {
    margin: 8px auto 0;
    width: 200px;
    text-align: center;
    color: #f00;
}

.oppoName {
    color: #f00;
    width: 300px;
    margin: 25px auto;
    text-align: center;
}
.oppoName b {
    color: #06d;
}

.announce {
    color: #aa0;
    position: absolute;
    width: 240px;
    top: 100px;
    left: calc(50% - 120px);
    text-align: center;
    font-size: 30px;
    line-height: 42px;
}