.base-page {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px 0 72px;
  position: relative;
  transition: left 0.3s ease, opacity 0.3s linear;

  &.hide-left {
    opacity: 0;
    left: -100%;
  }

  &.hide-right {
    opacity: 0;
    left: 100%;
  }

  &.show {
    left: 0;
    opacity: 1;
  }

  &.hide {
    padding: 0;
    min-height: 0 !important;
    max-height: 0 !important;
    overflow: hidden;
  }
}