.atat-algorithm {
  @gap: 16px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 12px;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  header {
    height: 25px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;

    img {
      width: 25px;
      margin-right: @gap;
      cursor: pointer;

      &.play {}

      &.reset {
        &.forbidden {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }

    .order {
      color: #888;
      margin-right: @gap;

      a {
        display: inline-block;
        cursor: pointer;

        &:first-child {
          margin-right: 8px;
        }

        &.active {
          color: rgb(0, 199, 133);
        }
      }

      &.forbidden {
        opacity: 0.5;

        a {
          cursor: not-allowed;
        }
      }
    }

    .delay {
      input {
        width: 66px;
      }
    }
  }

  .panel {
    width: 100%;
    text-align: center;
    height: 200px;
    display: flex;
    align-items: flex-end;

    .bar {
      display: inline-block;
      box-sizing: border-box;
      width: 0.5%;
      border: 1px solid #666;
      background-color: aquamarine;

      &.range {
        background-color: rgba(234, 253, 57, 0.3);
      }

      &.range1 {
        background-color: rgba(255, 52, 52, 0.3);
      }

      &.range2 {
        background-color: rgba(128, 5, 139, 0.3);
      }

      &.pointer1 {
        background-color: rgb(255, 52, 52);
      }

      &.pointer2 {
        background-color: rgb(128, 5, 139);
      }

      &.pointer3 {
        background-color: rgb(0, 255, 85);
      }
    }
  }
}