#star {
  position: absolute;
  z-index: 100;
  cursor: grab;
  width: 100px;
  height: 100px;
  display: none;
  opacity: 0;
  transition: opacity 0.5s linear;

  &:hover .close {
    transition: opacity 0.3s ease;
    opacity: 0.5;
  }

  .close {
    display: none;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    right: 0;
    cursor: pointer;
    color: lightblue;
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }
}

#circle-wrap {
  z-index: 101;
  display: none;
  position: fixed;

  .circle {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    
    // &:nth-child(even) {
    //   background: red;
    // }
    // &:nth-child(odd) {
    //   background: blue;
    // }
  }
}
