{
  "parser": "vue-eslint-parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-recommended"
  ],
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "globals": {
    "NodeJS": true
  },
  "rules": {
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-use-before-define": 1,
    "no-var": 1,
    "no-magic-numbers": "warn",
    "no-undef": "error",
    "vue/component-tags-order": 0,
    "vue/max-attributes-per-line": 0
  }
}
